  .paginate-row,
  .paginate-row div {
      margin: auto;
      width: 50%;
  }

  .bg-gray {
      background-color: rgba(99, 96, 96, 0.877);
  }

  .btn {
      border-radius: 5px;
  }

  .search-boxx {
      padding: 10px;
      width: 25%;
      border-radius: 5px;
      border: 1px solid rgb(206, 202, 202);
      margin-bottom: 2rem;
  }

  .search-boxx:focus {
      border: 1px solid rgb(22, 160, 224);
  }
